/*#LOGIN*/
body {
  background: url('../img/bg-login.jpg') center center / cover no-repeat;
}
.login-card {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #dee2e6;
  overflow: hidden;
  max-width: 850px;
  margin: auto;
}
.login-card .left {
  background: #fff;
  padding: 2rem;
  display: flex;
  border: 2px solid #dee2e6;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #eee;
}
.login-card .left img {
  max-height: 200px;
}
.login-card .right {
  padding: 2.5rem;
}
.login-card .form-control {
  border-radius: 2rem;
}
.login-card .btn {
  border-radius: 2rem;
}
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }
  .login-card .left {
    border-right: none;
    border-bottom: 1px solid #eee;
  }
}
